In [1]:
import numpy as np
import pandas as pd
#from scipy import stats
#import math
    
import sampling_abtest.model as sabmodel
import sampling_abtest.utils as sabutils

# 1. Apply Sample Size Estimation  
## 1.1. Population Size Unkown Case

In [2]:
df = pd.DataFrame(np.random.rand(3000, 4))
sabutils.sample_size_estimate(df, known=False)

1068

## 1.2. Population Size Known Case  
Population Size N is obtained by the number of rows from dataframe shape.

In [3]:
sabutils.sample_size_estimate(df, known=True)

788

# 2. SRS (Simple Random Sampling)

In [4]:
# SRS
sabmodel.srs(df, 10)

             0         1         2         3
183   0.468823  0.916494  0.864878  0.090907
1132  0.608042  0.001810  0.051646  0.760903
1783  0.666825  0.673917  0.403974  0.295451
959   0.816154  0.175558  0.772492  0.957764
323   0.261568  0.598668  0.038009  0.377001
328   0.251014  0.450736  0.815834  0.090542
1909  0.663200  0.105259  0.717628  0.378244
1336  0.093604  0.755776  0.697702  0.706190
515   0.857148  0.568441  0.979511  0.159672
1498  0.553483  0.241054  0.065730  0.028826

# 3. Systematic Sampling

In [5]:
# Systematic
sabmodel.systematic(df, 100, 5)

           0         1         2         3
0   0.359230  0.521925  0.497673  0.862013
5   0.506635  0.252605  0.584922  0.619387
10  0.241043  0.127206  0.542284  0.928929
15  0.045309  0.107211  0.646601  0.431436
20  0.142980  0.102050  0.848397  0.467566
25  0.855857  0.146771  0.958910  0.206610
30  0.319790  0.445907  0.453830  0.655448
35  0.124697  0.822527  0.810866  0.649503
40  0.027705  0.419943  0.162472  0.794234
45  0.104593  0.699985  0.360883  0.668131
50  0.464312  0.654267  0.187262  0.514804
55  0.811151  0.622708  0.921096  0.512472
60  0.651315  0.419111  0.291330  0.805620
65  0.671427  0.768490  0.038122  0.072908
70  0.956212  0.800883  0.140527  0.259791
75  0.814650  0.993275  0.579175  0.893489
80  0.805160  0.552690  0.671586  0.688149
85  0.140246  0.452991  0.759681  0.092377
90  0.697011  0.314942  0.568418  0.299179
95  0.633678  0.690664  0.983510  0.625676

# 4. Binary Sampling  
Binary sampling method returns a dictionary with the keys a, and b.

In [6]:
# Binary
sabmodel.binary(df, 20)

{'a':              0         1         2         3
 226   0.833922  0.899486  0.558362  0.367471
 568   0.205437  0.754098  0.436681  0.212965
 1958  0.188374  0.564674  0.940803  0.892125
 2208  0.334959  0.425389  0.915700  0.656029
 2962  0.009333  0.351956  0.932934  0.467956
 1010  0.680066  0.074367  0.997345  0.439366
 852   0.239615  0.638179  0.815982  0.469554
 2600  0.523238  0.618414  0.055480  0.275409
 2646  0.240684  0.836814  0.925859  0.591347
 2654  0.935495  0.733021  0.400712  0.523607,
 'b':              0         1         2         3
 373   0.750713  0.439785  0.451907  0.285521
 1185  0.396448  0.882653  0.535230  0.843688
 2119  0.577339  0.701047  0.163565  0.807545
 1923  0.979142  0.614945  0.013045  0.592194
 1833  0.959814  0.491814  0.477333  0.366942
 1215  0.778112  0.510908  0.354451  0.258332
 2123  0.360043  0.514778  0.237408  0.245469
 2737  0.183987  0.402994  0.433350  0.506619
 157   0.189669  0.713875  0.433386  0.297403
 2447  0.477869  0.736352  0.553968  0.141725}

# 5. Stratified Sampling  
At first, wine data is utilized for hierarchical stratification.
The data is from https://www.kaggle.com/datasets/dev7halo/wine-information

In [7]:
import os
path = os.getcwd()
path = os.path.join(path, 'wine_info.csv')
wine = pd.read_csv(path)

## 5.1. One Stratum Example  
Sample by the ratio of stratum 'nation'

In [8]:
sabmodel.strat(wine, 1000, ['nation'],10)

,id,name,producer,nation,local1,local2,local3,local4,varieties1,varieties2,...,abv,degree,sweet,acidity,body,tannin,price,year,ml,new_group
14656,160725,Rira 2 Roses,리라 Rira,그리스 Greece,Syrah & Shiraz,NaN,NaN,NaN,Grenache,NaN,...,11~12,16~18,SWEET1,ACIDITY4,BODY4,TANNIN2,52000.0,2013.0,750.0,그리스 Greece
18486,165178,"Domaine Papagiannakos, Savatiano Old Vines",도멘 파파기안나코스 Domaine Papagiannakos,그리스 Greece,센트럴 그리스 앤드 아티카 Central Greece and Attica,NaN,NaN,NaN,Savatiano,NaN,...,NaN,NaN,SWEET1,ACIDITY4,BODY2,TANNIN1,NaN,2016.0,750.0,그리스 Greece
18484,165176,"Gaia, Thalassitis",가이아 와인스 Gaia Wines,그리스 Greece,더 키클라데스 아일랜드 The Cyclades Islands,산토리니 Santorini,NaN,NaN,Assyrtiko,NaN,...,NaN,NaN,SWEET1,ACIDITY4,BODY2,TANNIN1,NaN,2016.0,750.0,그리스 Greece
11371,154541,"Vergelegen, Merlot Reserve",페어겔레겐 Vergelegen,남아프리카 공화국 the Republic of South Africa,코스탈 리젼 Coastal Region,스텔렌보쉬 Stellenbosch,NaN,NaN,Merlot,NaN,...,14,16~18,SWEET1,ACIDITY4,BODY3,TANNIN3,NaN,2013.0,750.0,남아프리카 공화국 the Republic of South Africa
6126,147516,"Kumkani, Shiraz Cabernet Sauvignon",쿰카니 Kumkani,남아프리카 공화국 the Republic of South Africa,코스탈 리젼 Coastal Region,NaN,NaN,NaN,Syrah & Shiraz,Cabernet Sauvignon,...,14,16~18,SWEET1,ACIDITY4,BODY3,TANNIN4,45000.0,2006.0,750.0,남아프리카 공화국 the Republic of South Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3250,142832,"Yellow Tail, Cabernet Sauvignon",카셀라 와인 Casella Wines,호주 Australia,뉴 사우스 웨일즈 New South Wales,NaN,NaN,NaN,Cabernet Sauvignon,NaN,...,13.5,16~18,SWEET2,ACIDITY3,BODY3,TANNIN3,NaN,2017.0,750.0,호주 Australia
5586,146855,"Brokenwood, Hunter Valley Shiraz",브로큰우드 Brokenwood,호주 Australia,뉴 사우스 웨일즈 New South Wales,헌터 밸리 Hunter Valley,NaN,NaN,Syrah & Shiraz,NaN,...,13.5,17~20,SWEET1,ACIDITY3,BODY3,TANNIN4,99000.0,2007.0,750.0,호주 Australia
20994,167984,"Hickinbotham, Brooks Road Shiraz",히킨보탐 Hickinbotham,호주 Australia,사우스 오스트레일리아 South Australia,맥라렌 베일 McLaren Vale,NaN,NaN,Syrah & Shiraz,NaN,...,14~15,16~18,SWEET1,ACIDITY3,BODY4,TANNIN4,330000.0,2016.0,750.0,호주 Australia
125,137366,Lindemans Cawarra Shiraz Cabernet,린드만 Lindemans,호주 Australia,사우스 오스트레일리아 South Australia,NaN,NaN,NaN,Syrah & Shiraz,Cabernet Sauvignon,...,13,17~19,SWEET1,ACIDITY3,BODY3,TANNIN4,17000.0,2014.0,750.0,호주 Australia
14714,160791,"Redheads Studio, Barrel Monkeys Shiraz",레드헤즈 스튜디오 Redheads Studio,호주 Australia,사우스 오스트레일리아 South Australia,맥라렌 베일 McLaren Vale,NaN,NaN,Syrah & Shiraz,NaN,...,14~15,15~17,SWEET1,ACIDITY4,BODY4,TANNIN5,78000.0,2016.0,750.0,호주 Australia

## 5.1.2. Two Strata Example  
Sample by the ratio of stratum 'new_group'  
'new_group' column is dervied from the intersection of 'nation' and 'local1'  
For example, '호주 Australia' has sub-regions such as '웨스턴 오스트레일리아 Western Australia' and '태즈매니아 Tasmania'. Set cate_list as \['nation', 'local1'\] and region and sub-regions are added as '호주 Australia_웨스턴 오스트레일리아 Western Australia'
'호주 Australia_태즈매니아 Tasmania' and assgined to new column called 'new_group'

In [9]:
sabmodel.strat(wine, 1000, ['nation', 'local1'],10)

,id,name,producer,nation,local1,local2,local3,local4,varieties1,varieties2,...,abv,degree,sweet,acidity,body,tannin,price,year,ml,new_group
20258,167235,Kormilitsa Gold,찬탈리 Tsantali,그리스 Greece,마케도니아 Macedonia,NaN,NaN,NaN,Cabernet Sauvignon,Limnio,...,13~14,16~18,SWEET1,ACIDITY4,BODY5,TANNIN5,1000000.0,2004.0,750.0,그리스 Greece_마케도니아 Macedonia
6347,147801,"Deetlefs, Shiraz",디틀레프 와인 에스테이트 Deetlefs Wine Estate,남아프리카 공화국 the Republic of South Africa,브리드 리버 밸리 Breede River Valley,NaN,NaN,NaN,Syrah & Shiraz,NaN,...,14.5,16~18,SWEET1,ACIDITY4,BODY3,TANNIN4,NaN,2008.0,750.0,남아프리카 공화국 the Republic of South Africa_브리드 리버 ...
7923,149639,Long Neck Cabernet Sauvignon,롱 넥 Long Neck,남아프리카 공화국 the Republic of South Africa,웨스턴 케이프 Western Cape,NaN,NaN,NaN,Cabernet Sauvignon,NaN,...,NaN,NaN,SWEET2,ACIDITY3,BODY3,TANNIN4,NaN,2018.0,750.0,남아프리카 공화국 the Republic of South Africa_웨스턴 케이프...
6117,147507,"Arniston Bay, Cabernet Sauvignon",애니스톤 베이 Arniston Bay,남아프리카 공화국 the Republic of South Africa,웨스턴 케이프 Western Cape,NaN,NaN,NaN,Cabernet Sauvignon,NaN,...,13.5,16~18,SWEET1,ACIDITY4,BODY3,TANNIN4,24000.0,2006.0,750.0,남아프리카 공화국 the Republic of South Africa_웨스턴 케이프...
3625,143834,"Arniston Bay, Chenin Blanc Chardonnay",애니스톤 베이 Arniston Bay,남아프리카 공화국 the Republic of South Africa,웨스턴 케이프 Western Cape,NaN,NaN,NaN,Chenin Blanc,Chardonnay,...,13.5,10~12,SWEET2,ACIDITY4,BODY2,TANNIN1,28000.0,2009.0,750.0,남아프리카 공화국 the Republic of South Africa_웨스턴 케이프...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17593,164103,"Xanadu, Exmoor Shiraz",제너두 Xanadu,호주 Australia,웨스턴 오스트레일리아 Western Australia,마가렛 리버 Margaret River,NaN,NaN,Syrah & Shiraz,NaN,...,14,15~17,SWEET1,ACIDITY4,BODY4,TANNIN4,NaN,2015.0,750.0,호주 Australia_웨스턴 오스트레일리아 Western Australia
7905,149620,Mad Fish Shiraz,하워드 파크 Howard Park,호주 Australia,웨스턴 오스트레일리아 Western Australia,NaN,NaN,NaN,Syrah & Shiraz,NaN,...,14.5,16~18,SWEET1,ACIDITY3,BODY4,TANNIN4,NaN,2015.0,750.0,호주 Australia_웨스턴 오스트레일리아 Western Australia
2500,141313,"Salitage, Treehouse Pinot Noir",살리타지 Salitage,호주 Australia,웨스턴 오스트레일리아 Western Australia,펨버튼 Pemberton,NaN,NaN,Pinot Noir,NaN,...,NaN,NaN,SWEET1,ACIDITY3,BODY3,TANNIN2,NaN,2008.0,750.0,호주 Australia_웨스턴 오스트레일리아 Western Australia
8184,149939,"Evans & Tate, Gnangara Cabernet Sauvignon",에반스 앤 테이트 와이너리 Evans & Tate Winery,호주 Australia,웨스턴 오스트레일리아 Western Australia,NaN,NaN,NaN,Cabernet Sauvignon,NaN,...,14.5,16~18,SWEET1,ACIDITY4,BODY3,TANNIN4,55000.0,2007.0,750.0,호주 Australia_웨스턴 오스트레일리아 Western Australia
16105,162330,"Devil's Corner, Sauvignon Blanc",데블스 코너 Devil's Corner,호주 Australia,태즈매니아 Tasmania,NaN,NaN,NaN,Sauvignon blanc,NaN,...,12~13,8~10,SWEET1,ACIDITY5,BODY2,TANNIN1,40000.0,2017.0,750.0,호주 Australia_태즈매니아 Tasmania

# 6. Cluster Sampling  
## 6.1. One-stage Cluster Sampling  
Returns all the elements in selected clusters as samples.

In [10]:
# # make new groups as cluster
data_new = sabmodel.make_groups(wine, ['nation', 'local1'])
locs = ['호주 Australia_웨스턴 오스트레일리아 Western Australia', 
        '그리스 Greece_마케도니아 Macedonia']

In [11]:
sabmodel.cluster(data_new, 100, 'new_group', locs, stage='one')

,id,name,producer,nation,local1,local2,local3,local4,varieties1,varieties2,...,abv,degree,sweet,acidity,body,tannin,price,year,ml,new_group
1342,139522,"Moss Wood, Cabernet Sauvignon",모스우드 Moss Wood,호주 Australia,웨스턴 오스트레일리아 Western Australia,마가렛 리버 Margaret River,NaN,NaN,Cabernet Sauvignon,Syrah & Shiraz,...,14,16~18,SWEET1,ACIDITY4,BODY4,TANNIN5,NaN,2006.0,750.0,호주 Australia_웨스턴 오스트레일리아 Western Australia
1343,139524,"Moss Wood, Chardonnay",모스우드 Moss Wood,호주 Australia,웨스턴 오스트레일리아 Western Australia,마가렛 리버 Margaret River,NaN,NaN,Chardonnay,NaN,...,14.5,10~12,SWEET1,ACIDITY4,BODY4,TANNIN1,NaN,2016.0,750.0,호주 Australia_웨스턴 오스트레일리아 Western Australia
1983,140422,"Cullen, Chardonnay",컬런 와인스 Cullen Wines,호주 Australia,웨스턴 오스트레일리아 Western Australia,마가렛 리버 Margaret River,NaN,NaN,Chardonnay,NaN,...,14,10~12,SWEET1,ACIDITY3,BODY4,TANNIN1,NaN,2016.0,750.0,호주 Australia_웨스턴 오스트레일리아 Western Australia
1984,140423,"Cullen, Diana Madeline Cabernet Sauvignon Merlot",컬런 와인스 Cullen Wines,호주 Australia,웨스턴 오스트레일리아 Western Australia,마가렛 리버 Margaret River,NaN,NaN,Cabernet Sauvignon,Merlot,...,13.5,16~18,SWEET1,ACIDITY3,BODY4,TANNIN4,NaN,2016.0,750.0,호주 Australia_웨스턴 오스트레일리아 Western Australia
1985,140424,"Cullen, Ellen Bussell Red",컬런 와인스 Cullen Wines,호주 Australia,웨스턴 오스트레일리아 Western Australia,마가렛 리버 Margaret River,NaN,NaN,Cabernet Sauvignon,Merlot,...,13.5,16~18,SWEET1,ACIDITY3,BODY4,TANNIN4,NaN,2016.0,750.0,호주 Australia_웨스턴 오스트레일리아 Western Australia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20258,167235,Kormilitsa Gold,찬탈리 Tsantali,그리스 Greece,마케도니아 Macedonia,NaN,NaN,NaN,Cabernet Sauvignon,Limnio,...,13~14,16~18,SWEET1,ACIDITY4,BODY5,TANNIN5,1000000.0,2004.0,750.0,그리스 Greece_마케도니아 Macedonia
20615,167603,"L.A.S Vino, CBDB(The Chenin Blanc Dynamic Blanc)",라스 비노 L.A.S Vino,호주 Australia,웨스턴 오스트레일리아 Western Australia,마가렛 리버 Margaret River,NaN,NaN,Chenin Blanc,NaN,...,14~15,10~12,SWEET1,ACIDITY4,BODY3,TANNIN1,NaN,2018.0,750.0,호주 Australia_웨스턴 오스트레일리아 Western Australia
20616,167604,"L.A.S Vino, Pirate Blend",라스 비노 L.A.S Vino,호주 Australia,웨스턴 오스트레일리아 Western Australia,마가렛 리버 Margaret River,NaN,NaN,Touriga Nacional,Tinta Cao,...,14~15,NaN,SWEET1,ACIDITY3,BODY4,TANNIN4,NaN,2018.0,750.0,호주 Australia_웨스턴 오스트레일리아 Western Australia
20617,167605,L.A.S Vino Cabernet Sauvignon,라스 비노 L.A.S Vino,호주 Australia,웨스턴 오스트레일리아 Western Australia,마가렛 리버 Margaret River,NaN,NaN,Cabernet Sauvignon,NaN,...,14~15,16~18,SWEET1,ACIDITY3,BODY5,TANNIN5,NaN,2018.0,750.0,호주 Australia_웨스턴 오스트레일리아 Western Australia
21494,168595,"Miles from Nowhere, Cabernet Merlot",마일즈 프롬 노웨어 Miles from Nowhere,호주 Australia,웨스턴 오스트레일리아 Western Australia,마가렛 리버 Margaret River,NaN,NaN,Cabernet Sauvignon,Merlot,...,14~15,16~18,SWEET1,ACIDITY3,BODY5,TANNIN4,NaN,2019.0,750.0,호주 Australia_웨스턴 오스트레일리아 Western Australia

## 6.2. Two-stage Cluster Sampling  
Returns sampled the elements in selected clusters by ratio as samples.

In [12]:
sabmodel.cluster(data_new, 100, 'new_group', locs, stage='two')

,id,name,producer,nation,local1,local2,local3,local4,varieties1,varieties2,...,abv,degree,sweet,acidity,body,tannin,price,year,ml,new_group
14628,160697,Alpha Utopia,알파 에스테이트 Alpha Estate,그리스 Greece,마케도니아 Macedonia,아민테오 Amynteo,NaN,NaN,Tannat,Xinomavro,...,14.5,16~18,SWEET1,ACIDITY3,BODY4,TANNIN3,109000.0,2010.0,750.0,그리스 Greece_마케도니아 Macedonia
14640,160709,Biblia Chora Red,도멘 비블리아 호라 Domaine Biblia Chora,그리스 Greece,마케도니아 Macedonia,NaN,NaN,NaN,Cabernet Sauvignon,Merlot,...,14.5,16~18,SWEET1,ACIDITY3,BODY3,TANNIN3,99000.0,2012.0,750.0,그리스 Greece_마케도니아 Macedonia
14685,160760,KTIMA Kir Yianni,끼르야니 Kir Yianni,그리스 Greece,마케도니아 Macedonia,아민테오 Amynteo,NaN,NaN,Xinomavro,Merlot,...,14,18~20,SWEET1,ACIDITY4,BODY4,TANNIN4,55000.0,2016.0,750.0,그리스 Greece_마케도니아 Macedonia
14690,160765,Petra,끼르야니 Kir Yianni,그리스 Greece,마케도니아 Macedonia,NaN,NaN,NaN,Roditis,Malagousia,...,13,10~12,SWEET1,ACIDITY4,BODY3,TANNIN1,30000.0,2013.0,750.0,그리스 Greece_마케도니아 Macedonia
20258,167235,Kormilitsa Gold,찬탈리 Tsantali,그리스 Greece,마케도니아 Macedonia,NaN,NaN,NaN,Cabernet Sauvignon,Limnio,...,13~14,16~18,SWEET1,ACIDITY4,BODY5,TANNIN5,1000000.0,2004.0,750.0,그리스 Greece_마케도니아 Macedonia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7939,149657,"Ferngrove, The Stirlings Cabernet Sauvignon Sh...",펀그로브 Ferngrove,호주 Australia,웨스턴 오스트레일리아 Western Australia,그레이트 서던 Great Southern,NaN,NaN,Cabernet Sauvignon,Syrah & Shiraz,...,NaN,NaN,SWEET1,ACIDITY3,BODY3,TANNIN4,58000.0,2007.0,750.0,호주 Australia_웨스턴 오스트레일리아 Western Australia
3847,144457,"Leeuwine Estate, Art Series Chardonnay",르윈 에스테이트 Leeuwin Estate,호주 Australia,웨스턴 오스트레일리아 Western Australia,마가렛 리버 Margaret River,NaN,NaN,Chardonnay,NaN,...,NaN,NaN,SWEET1,ACIDITY4,BODY3,TANNIN1,NaN,2003.0,750.0,호주 Australia_웨스턴 오스트레일리아 Western Australia
1986,140425,"Cullen, Ellen Bussell white",컬런 와인스 Cullen Wines,호주 Australia,웨스턴 오스트레일리아 Western Australia,마가렛 리버 Margaret River,NaN,NaN,Sauvignon blanc,Semillon,...,14,10~12,SWEET1,ACIDITY4,BODY3,TANNIN1,NaN,2016.0,750.0,호주 Australia_웨스턴 오스트레일리아 Western Australia
21494,168595,"Miles from Nowhere, Cabernet Merlot",마일즈 프롬 노웨어 Miles from Nowhere,호주 Australia,웨스턴 오스트레일리아 Western Australia,마가렛 리버 Margaret River,NaN,NaN,Cabernet Sauvignon,Merlot,...,14~15,16~18,SWEET1,ACIDITY3,BODY5,TANNIN4,NaN,2019.0,750.0,호주 Australia_웨스턴 오스트레일리아 Western Australia
4968,146138,"Sandalford, Estate Reserve Shiraz",샌달포드 와인 Sandalford Wines,호주 Australia,웨스턴 오스트레일리아 Western Australia,마가렛 리버 Margaret River,NaN,NaN,Syrah & Shiraz,NaN,...,14.5,16~19,SWEET1,ACIDITY3,BODY3,TANNIN4,NaN,2004.0,750.0,호주 Australia_웨스턴 오스트레일리아 Western Australia